target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea
downloads
### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
downloads/Anexo 1.pdf
downloads/Anexo 2.pdf
downloads/test.pdf
anexos.zip
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
Teste_Jamil.zip
WebScrappingConverter/extracted_data.csv
WebScrappingConverter/apicela_web_scrapping_result.zip
WebScrappingConverter/src/main/resources/META-INF/MANIFEST.MF
WebScrappingConverter/out/artifacts/WebScrappingConverter_jar/WebScrappingConverter.jar
